*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:red;
}

li{
    list-style: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50em;
}